@font-face {
  font-family: "Minecraftia-Regular";
  src: url("Minecraftia-Regular.ttf");
}

html {
  margin: 0;
  padding: 0;
}

body {
  background: url("background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  font-family: "Minecraftia-Regular";
  overflow-y: hidden;
}

#wrapper {
  max-width: 960px;
  margin: 50px auto;
  text-align: center;
}

.score {
  font-size: 2rem;
}

.start {
  background: #b9bd00;
  border: 5px solid #529106;
  outline: none;
  font-size: 2rem;
  font-family: Minecraftia-Regular;
  padding: 10px;
  border-radius: 25px;
  cursor: pointer;
}

.game-grid {
  width: 300px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  max-width: 320px;
  margin: 10px auto;
  transition: all 0.3s ease-out;
  border: 10px solid brown;
}

.game-grid__block {
  width: 30px;
  height: 30px;
}

.game-grid__block--green {
  background-color: #76ba1b;
}

.game-grid__block--dark-green {
  background-color: #4c9a2a;
}

.snake {
  background-color: rgb(8, 206, 206);
}

.apple {
  background-image: url("apple.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

@media (min-width: 530px) {
  .game-grid {
    width: 400px;
    height: 400px;
    max-width: 400px;
  }

  .game-grid__block {
    width: 40px;
    height: 40px;
  }
}
